In [1]:
import folium 
#from folium.plugins import Heatmap
import leaflet
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import scipy.stats as st
from scipy.stats import linregress

In [3]:
Philippines_fishing_production = "Resources/fish-seafood-production.csv"
Philippines_fishing_production_df = pd.read_csv(Philippines_fishing_production)
Philippines_fishing_production_df

,Entity,Code,Year,Fish and seafood | 00002960 || Production | 005511 || tonnes
0,NaN,NaN,NaN,NaN
1,Philippines,PHL,1961.0,497900.0
2,Philippines,PHL,1962.0,528530.0
3,Philippines,PHL,1963.0,590500.0
4,Philippines,PHL,1964.0,645260.0
...,...,...,...,...
56,Philippines,PHL,2016.0,2821220.0
57,Philippines,PHL,2017.0,2709520.0
58,Philippines,PHL,2018.0,2875630.0
59,Philippines,PHL,2019.0,2871960.0
60,Philippines,PHL,2020.0,2871960.0