In [35]:
import folium 
#from folium.plugins import Heatmap
import leaflet
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import scipy.stats as st
from scipy.stats import linregress

In [36]:
pollution_by_sector = "Resources/plastic-production-by-sector.csv"
mismanaged_pollution = "Resources/plastic-pollution- Mismanaged plastic waste.csv"
#fishing_consumption = "Resources/fish-consumption-vs-gdp-per-capita.csv"

pollution_by_sector_data = pd.read_csv(pollution_by_sector)
mismanaged_pollution_data = pd.read_csv(mismanaged_pollution)
#fishing_consumption_data = pd.read_csv(fishing_consumption)

merged_pollution_study = pd.merge(pollution_by_sector_data, mismanaged_pollution_data, on = "Year")

merged_pollution_study

,Entity_x,Code_x,Year,Road marking,Marine coatings,Personal care products,Industrial machinery,Electronics,Textile sector,Consumer and institutional products,Transportation,Other,Building and construction,Packaging,Entity_y,Code_y,Mismanaged plastic waste to ocean per capita (kg per year)
0,World,OWID_WRL,2019,682000.0,541000.0,27000.0,2683000.0,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Africa,NaN,0.059823
1,World,OWID_WRL,2019,682000.0,541000.0,27000.0,2683000.0,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Albania,ALB,0.543214
2,World,OWID_WRL,2019,682000.0,541000.0,27000.0,2683000.0,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Algeria,DZA,0.134114
3,World,OWID_WRL,2019,682000.0,541000.0,27000.0,2683000.0,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Angola,AGO,0.027023
4,World,OWID_WRL,2019,682000.0,541000.0,27000.0,2683000.0,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Antigua and Barbuda,ATG,0.020619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,World,OWID_WRL,2019,682000.0,541000.0,27000.0,2683000.0,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Vietnam,VNM,0.292561
161,World,OWID_WRL,2019,682000.0,541000.0,27000.0,2683000.0,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Western Sahara,ESH,0.065292
162,World,OWID_WRL,2019,682000.0,541000.0,27000.0,2683000.0,17305000,43875000,46662000,62165000,66315004,76893000,142598990,World,OWID_WRL,0.126980
163,World,OWID_WRL,2019,682000.0,541000.0,27000.0,2683000.0,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Yemen,YEM,0.008641
164,World,OWID_WRL,2019,682000.0,541000.0,27000.0,2683000.0,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Zimbabwe,ZWE,0.000000

In [60]:
mismanaged_pollution = "Resources/plastic-pollution- Mismanaged plastic waste.csv"
mismanaged_pollution_data = pd.read_csv(mismanaged_pollution)
mismanaged_pollution_data

,Entity,Code,Year,Mismanaged plastic waste to ocean per capita (kg per year)
0,Africa,NaN,2019,0.059823
1,Albania,ALB,2019,0.543214
2,Algeria,DZA,2019,0.134114
3,Angola,AGO,2019,0.027023
4,Antigua and Barbuda,ATG,2019,0.020619
...,...,...,...,...
160,Vietnam,VNM,2019,0.292561
161,Western Sahara,ESH,2019,0.065292
162,World,OWID_WRL,2019,0.126980
163,Yemen,YEM,2019,0.008641
164,Zimbabwe,ZWE,2019,0.000000

In [61]:
list2=['waste_recycled','waste_incinerated','waste_littered_and_mismanaged', 'waste_landfilled']
fig=make_subplots()
for i in list2:
  fig.add_trace(go.Bar(x=df3['Year'], y=df3[i], name = i.replace('_', " ")))
  fig.update_xaxes(dtick=1)
fig.show()

NameError: name 'make_subplots' is not defined

In [37]:
fishing_consumption = "Resources/fish-consumption-vs-gdp-per-capita.csv"

fishing_consumption_data = pd.read_csv(fishing_consumption)

merged_pollution_fish_study = pd.merge(fishing_consumption_data, merged_pollution_study, on = "Year")

merged_pollution_fish_study

,Entity,Code,Year,Fish and seafood | 00002960 || Food available for consumption | 0645pc || kilograms per year per capita,"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent,Entity_x,Code_x,Road marking,...,Electronics,Textile sector,Consumer and institutional products,Transportation,Other,Building and construction,Packaging,Entity_y,Code_y,Mismanaged plastic waste to ocean per capita (kg per year)
0,Afghanistan,AFG,2019,0.372667,2079.9219,37769496.0,NaN,World,OWID_WRL,682000.0,...,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Africa,NaN,0.059823
1,Afghanistan,AFG,2019,0.372667,2079.9219,37769496.0,NaN,World,OWID_WRL,682000.0,...,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Albania,ALB,0.543214
2,Afghanistan,AFG,2019,0.372667,2079.9219,37769496.0,NaN,World,OWID_WRL,682000.0,...,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Algeria,DZA,0.134114
3,Afghanistan,AFG,2019,0.372667,2079.9219,37769496.0,NaN,World,OWID_WRL,682000.0,...,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Angola,AGO,0.027023
4,Afghanistan,AFG,2019,0.372667,2079.9219,37769496.0,NaN,World,OWID_WRL,682000.0,...,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Antigua and Barbuda,ATG,0.020619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48340,Zimbabwe,ZWE,2019,2.870986,2203.3967,15354606.0,NaN,World,OWID_WRL,682000.0,...,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Vietnam,VNM,0.292561
48341,Zimbabwe,ZWE,2019,2.870986,2203.3967,15354606.0,NaN,World,OWID_WRL,682000.0,...,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Western Sahara,ESH,0.065292
48342,Zimbabwe,ZWE,2019,2.870986,2203.3967,15354606.0,NaN,World,OWID_WRL,682000.0,...,17305000,43875000,46662000,62165000,66315004,76893000,142598990,World,OWID_WRL,0.126980
48343,Zimbabwe,ZWE,2019,2.870986,2203.3967,15354606.0,NaN,World,OWID_WRL,682000.0,...,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Yemen,YEM,0.008641
48344,Zimbabwe,ZWE,2019,2.870986,2203.3967,15354606.0,NaN,World,OWID_WRL,682000.0,...,17305000,43875000,46662000,62165000,66315004,76893000,142598990,Zimbabwe,ZWE,0.000000

In [38]:
fishing_consumption = "Resources/fish-consumption-vs-gdp-per-capita.csv"

fishing_consumption_data = pd.read_csv(fishing_consumption)

fishing_consumption_data

,Entity,Code,Year,Fish and seafood | 00002960 || Food available for consumption | 0645pc || kilograms per year per capita,"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1961,0.030559,NaN,8790140.0,NaN
2,Afghanistan,AFG,1962,0.030578,NaN,8969055.0,NaN
3,Afghanistan,AFG,1963,0.030598,NaN,9157463.0,NaN
4,Afghanistan,AFG,1964,0.030614,NaN,9355510.0,NaN
...,...,...,...,...,...,...,...
60468,Zimbabwe,ZWE,1956,NaN,NaN,3365481.0,NaN
60469,Zimbabwe,ZWE,1957,NaN,NaN,3470499.0,NaN
60470,Zimbabwe,ZWE,1958,NaN,NaN,3578808.0,NaN
60471,Zimbabwe,ZWE,1959,NaN,NaN,3690646.0,NaN
60472,Zimbabwe,ZWE,1960,NaN,NaN,3806312.0,NaN

In [39]:
mismanaged_pollution = "Resources/plastic-pollution- Mismanaged plastic waste.csv"

mismanaged_pollution_data = pd.read_csv(mismanaged_pollution)

mismanaged_pollution_data

,Entity,Code,Year,Mismanaged plastic waste to ocean per capita (kg per year)
0,Africa,NaN,2019,0.059823
1,Albania,ALB,2019,0.543214
2,Algeria,DZA,2019,0.134114
3,Angola,AGO,2019,0.027023
4,Antigua and Barbuda,ATG,2019,0.020619
...,...,...,...,...
160,Vietnam,VNM,2019,0.292561
161,Western Sahara,ESH,2019,0.065292
162,World,OWID_WRL,2019,0.126980
163,Yemen,YEM,2019,0.008641
164,Zimbabwe,ZWE,2019,0.000000

In [40]:
# Create an array that contains the number of users each language has
users = [13000, 26000, 52000, 30000, 9000]
x_axis = np.arange(len(users))

In [59]:
Average_Country_GDP = "Resources/gdp-per-capita-worldbank.csv"
mismanaged_pollution = "Resources/plastic-pollution- Mismanaged plastic waste.csv"

Average_Country_GDP_data = pd.read_csv(Average_Country_GDP)
mismanaged_pollution_data = pd.read_csv(mismanaged_pollution)

merged_GDP_Pollution_study = pd.merge(Average_Country_GDP_data, mismanaged_pollution_data, on = "Code")

merged_GDP_Pollution_study

,Entity_x,Code,Year_x,"GDP per capita, PPP (constant 2017 international $)",Entity_y,Year_y,Mismanaged plastic waste to ocean per capita (kg per year)
0,Albania,ALB,1990,4827.9053,Albania,2019,0.543214
1,Albania,ALB,1991,3497.0054,Albania,2019,0.543214
2,Albania,ALB,1992,3265.4143,Albania,2019,0.543214
3,Albania,ALB,1993,3599.4646,Albania,2019,0.543214
4,Albania,ALB,1994,3922.3281,Albania,2019,0.543214
...,...,...,...,...,...,...,...
6635,Zimbabwe,ZWE,2017,2331.7808,Zimbabwe,2019,0.000000
6636,Zimbabwe,ZWE,2018,2399.6216,Zimbabwe,2019,0.000000
6637,Zimbabwe,ZWE,2019,2203.3967,Zimbabwe,2019,0.000000
6638,Zimbabwe,ZWE,2020,1990.3195,Zimbabwe,2019,0.000000
6639,Zimbabwe,ZWE,2021,2115.1445,Zimbabwe,2019,0.000000

In [48]:
merged_GDP_Pollution_study = merged_GDP_Pollution_study.loc[merged_GDP_Pollution_study["Year_x"]==""].groupby("Entity_x")
mismanaged_plastic = merged_GDP_Pollution_study["Mismanaged plastic waste to ocean per capita (kg per year)"].mean()
Country_GDP = merged_pollution_fish_study_df["GDP per capita, PPP (constant 2017 international $)"].unique()
plt.scatter(year, avg_mismanaged_plastic)
plt.xlabel("Mismanaged plastic waste to ocean per capita (kg per year)")
plt.ylabel("GDP per capita, PPP (constant 2017 international $)")
plt.show()

AttributeError: 'DataFrameGroupBy' object has no attribute 'loc'